@import "tailwindcss";
@import "@repo/tailwind-config";
@source "../../../../packages/ui/src/**/*.{ts,tsx}";

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
